{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "babel-plugin-dotenv", {
        "replacedModuleName": "babel-dotenv"
      }
    ],
    // see babel-plugin-import for antd: https://github.com/ant-design/babel-plugin-import#usage
    [
      "import", {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": true
      }
    ]
  ]
}